
body{
  //font-family: $main-font;
  *{
    outline: 0 !important;
  }
  .btn{
    &:focus{
      box-shadow: none !important;
    }
  }
  .form-control{
    //transition: $simple-transition;
    &:hover,&:focus{
      background-color: #f7f7f7 !important;
    }
  }
  .mobile-container{
    @media all and (max-width: 768px){
      padding:0;
    }
  }
}
