<template>
  <fragment>
    EXAMPLE COMPONENT
    <button @click="goIndex">GO INDEX</button>
  </fragment>
</template>


<script>
export default {


  methods:{
    goIndex()
    {
      this.$router.push({name:'index'});
    }
  },

};
</script>
