<template>

  <fragment>
    <button @click="goToExampleComponent">GO TO EXAMPLE COMPONENT</button>
    <button @click="exampleCallback">CLICK ME!</button>
    {{inputValue}}
    <input v-if="inputValue" type="text" v-model="inputValue" name="" id="">
  </fragment>

</template>

<script>

export default {
  methods: {
    exampleCallback()
    {
      this.inputValue = 'CALLED';
    },
    goToExampleComponent()
    {
      this.$router.push({name:'exampleComponent'});
    },
  },
  computed:{
  },
  components: {
  },

  data()
  {
    return {
      inputValue:null,
    };
  },

};

</script>
